<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="https://www.youtube.com/results?search_query=%D0%BB%D1%83%D0%BD%D1%82%D0%B8%D0%BA"
			target="_blank">If you depressed</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="https://www.youtube.com.ua" target="_blank">YouTybe</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<div class="input-info">
					<input class="form-control me-2" target="_blank" id="input2" value="" type=" search" placeholder="Search"
						aria-label="Search">
				</div>
				<button class="btn btn-outline-light" id="google" type="button">Google
				</button>
			</form>
		</div>
	</div>
</nav>